{
  "secureCookies": false,
  "db": {
    "host": "db_host",
    "user": "db_user",
    "password": "db_pass",
    "database": "db_name"
  },
  "mailgun": {
    "domain": "sandboxXXXXX.mailgun.org",
    "apiKey": "key-XXXXX"
  }
}